body{
  background-image: url('https://static0.srcdn.com/wordpress/wp-content/uploads/2019/09/bikini-bottom.png');
  background-size: cover;
  overflow: hidden;
}

div button{
  text-align: center;
}

/* #start-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-bottom: 19px;
} */

table {
  width: 70% !important;
}

label {
  font-size: 20px;
  margin-left: 20px;
}

main {
  margin-top: 50px;
}
#welcome-message {
  color: #fff;;
}

#start-button-div, #try-again-button-div {
  background: transparent;
  border: none;
}

#start-button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

};
.ui.brown.celled.padded.table{
  margin: 10% 20px 20px 20px;
  height: 20%;
  background-color: #f8f8ff;
}
.th.single.line{
  font-weight: bold;
}

/* #try-again-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display:block;
  font-size: 16px;

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

   
}
*/


#question-number{

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

header{

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.ui.twelve.wide.column.segment.form.centered{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.ui.button.right.floated{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
  #answer-list *{
  cursor: pointer;
}
#answer-list > div{
  margin: 15px 0;
}

#answer-list:last-child {
  margin-bottom: 0;
}